* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#background {
    background-image: url(./Assets/background.svg);
    background-size: cover;
    width: 100%;
    height: 150vh;
    padding: 40px 60px 50px 40px;
}

#conteiner {
    width: 100vw;
}

nav {
    display: flex;
    gap: 100px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

li:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-out;
}

a {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

h1 {
    margin-top: 160px;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.75rem;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    align-items: center;
    padding: 30px 50px;
    background: #EB5757;
    border-radius: 10px;
}

#main {
    display: flex;
    justify-content: space-around;
}

#h4Name {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 100px;
    transform: translateX(100px);

}

@keyframes formAnimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.form-contact {
    animation: formAnimation 1s ease-in-out forwards;
}

#h4Contact {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    display: flex;
    flex-direction: column;
}

input {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 352px;
    height: 50px;
    padding-left: 20px;
    padding-top: 11px;
    outline: none;
}

textarea {
    width: 352px;
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    height: 120px;
    padding-left: 20px;
    padding-top: 11px;
    resize: none;
    outline: none;
}

button {
    width: 366px;
    height: 52px;
    background: #40BB15;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}
button:active {
    opacity: 0.5;
}

section {
    padding: 0 0 150px 0;
}

#Servicos {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 90px;
    display: block;
    margin: 80px auto;
    text-align: center;
}

#cards {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.card {
    background: #EEF6FF;
    border: 1px solid #A9D6FF;
    box-sizing: border-box;
    border-radius: 11px;
    height: 224px;
}

.h3Card {
    background: #40BB15;
    width: 326px;
    height: 84px;
    border-radius: 11px 11px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.paragrafoServiços {
    padding: 15px;
}

#h2Footer {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

.paragraphFooter {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

footer {
    background: #061727;
    padding: 60px 130px 30px 130px;
}

@media(max-width: 960px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
    }

    nav {
        justify-content: space-between;
    }

    h1, form {
        margin-top: 80px;
    }
}

@media(max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
    }

    nav {
        justify-content: space-between;
    }

    form, input, textarea {
        width: 100%;
        min-width: 352px;
    }

    form {
        border-radius: none;
        padding: 20px;
    }

    #background {
        padding: 20px 30px 25px 20px;
    }

    nav {
        flex-wrap: wrap;
    }

    ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 400px) {
    label, input, button, textarea {
        width: 100%;
        min-width: 0;
    }
}